.footer {
  width: 1440px;
  height: 274px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-block;
}
.footer .footer-main-text1 > p {
  float: left;
  justify-content: center;
  margin-left: 2rem;
  font-size: 18px;
  font-weight: 600;
  color: black;
  align-items: center;
  margin-top: 1rem;
  position: absolute;
}
.footer .footer-text1 {
  float: left;
  position: relative;
  position: absolute;
  margin-left: 2rem;
  margin-top: 2rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.footer .footer-text1 > p {
  color: #7984C0;
  font-weight: 500;
  font-size: 16;
  margin-top: 1rem;
  text-align: left;
}
.footer .footer-main-text2 > p {
  float: left;
  justify-content: center;
  margin-left: 18rem;
  font-size: 18px;
  font-weight: 600;
  color: black;
  align-items: center;
  margin-top: -7.5rem;
  position: absolute;
  width: 100px;
}
.footer .footer-text2 {
  float: left;
  position: relative;
  position: absolute;
  margin-left: 19.6rem;
  margin-top: -6.5rem;
}
.footer .footer-text2 > p {
  color: #7984C0;
  font-weight: 500;
  font-size: 16;
  margin-top: 1rem;
  text-align: left;
}
.footer .footer-main-text3 > p {
  float: left;
  justify-content: center;
  margin-left: 15rem;
  font-size: 18px;
  font-weight: 600;
  color: black;
  align-items: center;
  margin-top: -7.5rem;
  position: absolute;
  width: 200px;
}
.footer .footer-text3 {
  float: left;
  position: relative;
  position: absolute;
  margin-left: 18rem;
  margin-top: -6.5rem;
  width: 200px;
}
.footer .footer-text3 > p {
  color: #7984C0;
  font-weight: 500;
  font-size: 16;
  margin-top: 1rem;
  text-align: left;
}
.footer .footer-main-text4 > p {
  float: left;
  justify-content: center;
  margin-left: 15rem;
  font-size: 18px;
  font-weight: 600;
  color: black;
  align-items: center;
  margin-top: -7.5rem;
  position: absolute;
  width: 200px;
}
.footer .footer-text4 {
  float: left;
  position: relative;
  position: absolute;
  margin-left: 18rem;
  margin-top: -6.5rem;
  width: 200px;
}
.footer .footer-text4 > p {
  color: #7984C0;
  font-weight: 500;
  font-size: 16;
  margin-top: 1rem;
  text-align: left;
}
.footer .footer-number {
  margin-left: 20rem;
  width: 157px;
  margin-top: -7.25rem;
}
.footer .footer-number > p {
  font-size: 18px;
  font-weight: 600;
  color: #121720;
  justify-content: center;
  align-items: center;
  float: right;
  position: absolute;
  position: relative;
}
.footer .footer-email > p {
  font-size: 18px;
  font-weight: 500;
  color: #7984C0;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 2.6rem;
  margin-top: 0.5rem;
}
.footer .footer-blog > img {
  justify-content: center;
  align-items: center;
  float: right;
  position: relative;
  position: absolute;
  margin-top: 4rem;
  margin-left: 0.5rem;
}
.footer .footer-blog2 > img {
  justify-content: center;
  align-items: center;
  position: relative;
  position: absolute;
  margin-top: 4rem;
  margin-left: 4rem;
  float: right;
}
.footer .footer-down-text > p {
  font-size: 16px;
  color: #7984C0;
  position: relative;
  position: absolute;
  float: left;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-left: -78rem;
  margin-top: 12rem;
}
.footer .footer-opis > p {
  width: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -10rem;
  color: #9095A9;
  position: absolute;
  margin-top: 12rem;
}/*# sourceMappingURL=Footer.css.map */